In [1]:
a = 12

In [3]:
str(a)[1]

'2'

In [12]:
b1, b2 = map(int, str(a))

In [13]:
b1

1

In [14]:
b2

2

In [75]:
N = 29

In [77]:
N1, N2 = map(int, N)

In [78]:
N

'29'

In [79]:
N1

2

In [80]:
N1 + N2

11

In [76]:
if N < 10:
    N = '0' + str(N)
else:
    N = str(N)

In [68]:
sum = N1 + N2

if sum < 10:
    sum = str(sum)
else:
    sum = str(sum)[1]

In [69]:
sum

'1'

In [82]:
N = int(input())
N < 10

29

False

## YES!! 스스로 풀어낸 정답!

In [107]:
N = int(input())
i = 0
Original_Number = N

while True:
    if N < 10:
        N = '0' + str(N)
    else:
        N = str(N)
    
    N1, N2 = map(int, N)
    sum = N1 + N2


    if sum < 10:
        sum = str(sum)
    else:
        sum = str(sum)[1]
    
    i = i + 1
    
    N = int(str(N2) + sum)
    
    if N == Original_Number:
        print(i)
        break

1
60

## 1등 정답

In [122]:
a=b=int(input());n=0

while a!=b or n==0:n+=1;b=b%10*10+b*11//10%10

print(n)

26
4

In [130]:
a = b = int(input())
n = 0

while a!=b or n==0:
    n += 1;
    b = (b%10)*10  +  ((b*11) // 10) % 10
    
print(n)

26
4

In [123]:
63%10

3

In [124]:
38%10

8

In [125]:
38//10

3

In [126]:
# 아... 10으로 나눌 때의 몫(N//10)이 N1, 10으로 나눈 나머지(N%10)가 N2